.well.sidebar-nav.my-sidebar
	%h3 Filters
	%ul.nav.nav-list
		%li.nav-header Brand
		-Brand.all.each do |b|
			%li
				=check_box_tag b.name , '1', false, class: 'brand_check', 'data-brand-name' => b.name
				=b.name
		%li.nav-header Price
		%li
			="From"
			%br
			=text_field_tag "From",0, class: 'price_from'
		%li
			= "To"
			%br
			=text_field_tag "To",50000, class: 'price_to'
		%li.nav-header Color
		-Color.where(dress_id: nil).map(&:name).uniq.each do |c|
			%li
				=check_box_tag c , '1', false, class: 'color_check', 'data-color-name' => c
				=c		
		%li.nav-header Type
		-DressType.where(dress_id: nil).map(&:name).uniq.each do |t|
			%li
				=check_box_tag t , '1', false, class: 'type_check', 'data-type-name' => t
				=t
		%li.nav-header Length
		-Length.all.map(&:name).uniq.each do |b|
			%li
				=check_box_tag b , '1', false, class: 'length_check', 'data-length-name' => b
				=b		